<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>event</key>
	<dict>
		<key>login</key>
		<true/>
		<key>logout</key>
		<true/>
		<key>close</key>
		<true/>
		<key>visible</key>
		<true/>
		<key>invisible</key>
		<true/>
	</dict>
	<key>bridge</key>
	<dict>
		<key>config</key>
		<true/>
		<key>appInfo</key>
		<true/>
		<key>adInfo</key>
		<true/>
		<key>login</key>
		<true/>
		<key>comment</key>
		<true/>
		<key>close</key>
		<true/>
		<key>isVisible</key>
		<true/>
		<key>is_visible</key>
		<true/>
		<key>is_login</key>
		<true/>
		<key>playVideo</key>
		<true/>
		<key>gallery</key>
		<true/>
		<key>shareInfo</key>
		<true/>
		<key>searchParams</key>
		<true/>
		<key>requestChangeOrientation</key>
		<true/>
		<key>formDialogClose</key>
		<true/>
		<key>showActionSheet</key>
		<true/>
		<key>dislike</key>
		<true/>
		<key>typos</key>
		<true/>
		<key>user_follow_action</key>
		<true/>
		<key>toggleGalleryBars</key>
		<true/>
		<key>slideShow</key>
		<true/>
		<key>relatedShow</key>
		<true/>
		<key>adImageShow</key>
		<true/>
		<key>slideDownload</key>
		<true/>
		<key>zoomStatus</key>
		<true/>
		<key>adImageLoadFinish</key>
		<true/>
		<key>adImageClick</key>
		<true/>
		<key>setupFollowButton</key>
		<true/>
		<key>tellClientRetryPrefetch</key>
		<true/>
		<key>report</key>
		<true/>
		<key>openComment</key>
		<true/>
		<key>commentDigg</key>
		<true/>
	</dict>
</dict>
</plist>
