<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>default</string>
	<key>colors</key>
	<dict>
		<key>FeedInfoLabel</key>
		<string>888888</string>
		<key>StatusBarStyle</key>
		<integer>0</integer>
		<key>navigationTextColorImage</key>
		<string>ff000000</string>
		<key>navigationBarBackgroundWhite</key>
		<string>ffffffff</string>
		<key>navigationTextColorWhite</key>
		<string>464646</string>
		<key>navigationBarBackgroundRed</key>
		<string>d43d3d</string>
		<key>navigationTextColorRed</key>
		<string>464646</string>
		<key>navigationBarBackgroundGray</key>
		<string>ff9e9e9e</string>
		<key>navigationTextColorGray</key>
		<string>ff001100</string>
		<key>TabBarTitleColor</key>
		<string>8a9299</string>
		<key>TabBarBackgroundWhite</key>
		<string>ffffffff</string>
		<key>TabBarTitleHighlightedColor</key>
		<string>299cff</string>
		<key>videoCellTitle</key>
		<string>ffffff</string>
		<key>TextColor1</key>
		<string>464646</string>
		<key>TextSelectedColor1</key>
		<string>707070</string>
		<key>TextColor3</key>
		<string>999999</string>
		<key>TextSelectedColor3</key>
		<string>cacaca</string>
		<key>BackgroundColor1</key>
		<string>fafafa</string>
		<key>BackgroundSelectedColor1</key>
		<string>eeeeee</string>
		<key>BackgroundColor3</key>
		<string>ebebeb</string>
		<key>CellSeparatorColor2</key>
		<string>dddddd</string>
		<key>BlueTextColor</key>
		<string>2a90d7</string>
		<key>BlueBorderColor</key>
		<string>2a90d7</string>
		<key>Text1</key>
		<string>333333</string>
		<key>Text2</key>
		<string>505050</string>
		<key>Text3</key>
		<string>999999</string>
		<key>Text4</key>
		<string>f85959</string>
		<key>Text5</key>
		<string>406599</string>
		<key>Text6</key>
		<string>2a90d7</string>
		<key>Text7</key>
		<string>ffffff</string>
		<key>Text8</key>
		<string>ffffff</string>
		<key>Text9</key>
		<string>cacaca</string>
		<key>Text10</key>
		<string>ffffff</string>
		<key>Text11</key>
		<string>ffffff7f</string>
		<key>Text12</key>
		<string>ffffff</string>
		<key>Text13</key>
		<string>979fac</string>
		<key>Text14</key>
		<string>707070</string>
		<key>Text15</key>
		<string>222222</string>
		<key>Text100</key>
		<string>000000</string>
		<key>Text200</key>
		<string>007aff</string>
		<key>Text300</key>
		<string>95a3be</string>
		<key>Text1Highlighted</key>
		<string>2222227f</string>
		<key>Text2Highlighted</key>
		<string>5050507f</string>
		<key>Text3Highlighted</key>
		<string>9999997f</string>
		<key>Text4Highlighted</key>
		<string>f859597f</string>
		<key>Text5Highlighted</key>
		<string>4065997f</string>
		<key>Text6Highlighted</key>
		<string>2a90d77f</string>
		<key>Text7Highlighted</key>
		<string>ffffff7f</string>
		<key>Text8Highlighted</key>
		<string>ffffff7f</string>
		<key>Text9Highlighted</key>
		<string>e8e8e8</string>
		<key>Text10Highlighted</key>
		<string>ffffff7f</string>
		<key>Text11Highlighted</key>
		<string>ffffff7f</string>
		<key>Text12Highlighted</key>
		<string>ffffff7f</string>
		<key>Text13Highlighted</key>
		<string>979fac7f</string>
		<key>Text14Highlighted</key>
		<string>7070707f</string>
		<key>Text100Highlighted</key>
		<string>0000007f</string>
		<key>Text200Highlighted</key>
		<string>007aff7f</string>
		<key>Text1Selected</key>
		<string>f85959</string>
		<key>Text2Selected</key>
		<string>2a90d7</string>
		<key>Text3Selected</key>
		<string>ffffff</string>
		<key>Text4Selected</key>
		<string>999999</string>
		<key>Text1Disabled</key>
		<string>999999</string>
		<key>Text2Disabled</key>
		<string>5050507f</string>
		<key>Text12Disabled</key>
		<string>ffffffcc</string>
		<key>Line1</key>
		<string>e8e8e8</string>
		<key>Line2</key>
		<string>f85959</string>
		<key>Line3</key>
		<string>2a90d7</string>
		<key>Line4</key>
		<string>f859597f</string>
		<key>Line5</key>
		<string>2a90d77f</string>
		<key>Line6</key>
		<string>4065997f</string>
		<key>Line7</key>
		<string>d8d8d8</string>
		<key>Line8</key>
		<string>ffffff</string>
		<key>Line9</key>
		<string>999999</string>
		<key>Line10</key>
		<string>dddddd</string>
		<key>Line11</key>
		<string>ffffff</string>
		<key>Line12</key>
		<string>ffffff</string>
		<key>Line1Highlighted</key>
		<string>e8e8e87f</string>
		<key>Line2Highlighted</key>
		<string>f859597f</string>
		<key>Line3Highlighted</key>
		<string>2a90d77f</string>
		<key>Line4Highlighted</key>
		<string>f859597f7f</string>
		<key>Line5Highlighted</key>
		<string>2a90d77f</string>
		<key>Line6Highlighted</key>
		<string>4065997f</string>
		<key>Line7Highlighted</key>
		<string>d8d8d87f</string>
		<key>Line8Highlighted</key>
		<string>ffffff7f</string>
		<key>Line11Highlighted</key>
		<string>ffffff7f</string>
		<key>Line1Selected</key>
		<string>f85959</string>
		<key>Line2Selected</key>
		<string>2a90d7</string>
		<key>Line3Selected</key>
		<string>f859597f</string>
		<key>Line4Selected</key>
		<string>2a90d77f</string>
		<key>Line5Selected</key>
		<string>e8e8e8</string>
		<key>Line1Disabled</key>
		<string>999999</string>
		<key>Background1</key>
		<string>e0e0e0</string>
		<key>Background2</key>
		<string>e8e8e8</string>
		<key>Background3</key>
		<string>f5f5f5</string>
		<key>Background4</key>
		<string>ffffff</string>
		<key>Background5</key>
		<string>000000</string>
		<key>Background6</key>
		<string>999999</string>
		<key>Background7</key>
		<string>f85959</string>
		<key>Background8</key>
		<string>2a90d7</string>
		<key>Background9</key>
		<string>0000004c</string>
		<key>Background10</key>
		<string>f6f5f4</string>
		<key>Background11</key>
		<string>000000e5</string>
		<key>Background13</key>
		<string>2a90d77f</string>
		<key>Background14</key>
		<string>fffffff4</string>
		<key>Background15</key>
		<string>0000007f</string>
		<key>Background16</key>
		<string>00000026</string>
		<key>Background17</key>
		<string>ffffff</string>
		<key>Background18</key>
		<string>f0f0f0</string>
		<key>Background20</key>
		<string>ffffff</string>
		<key>Background21</key>
		<string>f8f8f8</string>
		<key>Background22</key>
		<string>fffad9</string>
		<key>Background100</key>
		<string>fafafa</string>
		<key>Background200</key>
		<string>000000cc</string>
		<key>Background300</key>
		<string>b4b4b4</string>
		<key>Background400</key>
		<string>fafafa</string>
		<key>Background500</key>
		<string>d4d4d4</string>
		<key>Background1Highlighted</key>
		<string>e8e8e8</string>
		<key>Background2Highlighted</key>
		<string>dddddd</string>
		<key>Background3Highlighted</key>
		<string>e8e8e8</string>
		<key>Background4Highlighted</key>
		<string>e0e0e0</string>
		<key>Background5Highlighted</key>
		<string>0000007f</string>
		<key>Background6Highlighted</key>
		<string>9999997f</string>
		<key>Background7Highlighted</key>
		<string>f859597f</string>
		<key>Background8Highlighted</key>
		<string>2a90d77f</string>
		<key>Background9Highlighted</key>
		<string>0000004c</string>
		<key>Background10Highlighted</key>
		<string>e8e8e8</string>
		<key>Background11Highlighted</key>
		<string>000000e5</string>
		<key>Background14Highlighted</key>
		<string>fffffff4</string>
		<key>Background15Highlighted</key>
		<string>e8e8e8</string>
		<key>Background16Highlighted</key>
		<string>0000007f</string>
		<key>Background17Highlighted</key>
		<string>f0f0f0</string>
		<key>Background21Highlighted</key>
		<string>f4f5f6</string>
		<key>Background1Selected</key>
		<string>f85959</string>
		<key>Background2Selected</key>
		<string>2a90d7</string>
		<key>Background3Selected</key>
		<string>ffffff</string>
		<key>Background1Disabled</key>
		<string>999999</string>
		<key>Background7Disabled</key>
		<string>f859597f</string>
		<key>Background8Disabled</key>
		<string>2a90d77f</string>
		<key>StarYellow</key>
		<string>ffc345</string>
		<key>SkinGreen</key>
		<string>7ec957ff</string>
		<key>blue1</key>
		<string>081f33</string>
		<key>blue2</key>
		<string>299cff</string>
		<key>blue3</key>
		<string>3d6e99</string>
		<key>blue4</key>
		<string>e6f3ff</string>
		<key>grey1</key>
		<string>333333</string>
		<key>grey2</key>
		<string>666666</string>
		<key>grey3</key>
		<string>999999</string>
		<key>grey4</key>
		<string>bbbbbb</string>
		<key>grey5</key>
		<string>dddddd</string>
		<key>grey6</key>
		<string>e8e8e8</string>
		<key>grey7</key>
		<string>f5f5f5</string>
		<key>red1</key>
		<string>ff5869</string>
		<key>red2</key>
		<string>fff2ed</string>
		<key>red3</key>
		<string>ff8151</string>
		<key>green1</key>
		<string>0cce6b</string>
	</dict>
	<key>images</key>
	<dict>
		<key>navigationBarBackgroundImage</key>
		<string>transparent</string>
	</dict>
	<key>statusBarViewContrllerBased</key>
	<true/>
</dict>
</plist>
