<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>night</string>
	<key>colors</key>
	<dict>
		<key>FeedInfoLabel</key>
		<string>505050</string>
		<key>StatusBarStyle</key>
		<integer>1</integer>
		<key>navigationBarBackgroundImage</key>
		<string></string>
		<key>navigationTextColorImage</key>
		<string>ff000000</string>
		<key>navigationBarBackgroundWhite</key>
		<string>252525</string>
		<key>navigationTextColorWhite</key>
		<string>707070</string>
		<key>navigationBarBackgroundRed</key>
		<string>651414</string>
		<key>navigationTextColorRed</key>
		<string>707070</string>
		<key>navigationBarBackgroundGray</key>
		<string>ff9e9e9e</string>
		<key>navigationTextColorGray</key>
		<string>ff001100</string>
		<key>TabBarTitleColor</key>
		<string>999999</string>
		<key>TabBarBackgroundWhite</key>
		<string>252525</string>
		<key>TabBarTitleHighlightedColor</key>
		<string>299cff</string>
		<key>videoCellTitle</key>
		<string>e0e0e0</string>
		<key>TextColor1</key>
		<string>707070</string>
		<key>TextSelectedColor1</key>
		<string>505050</string>
		<key>TextColor3</key>
		<string>707070</string>
		<key>TextSelectedColor3</key>
		<string>505050</string>
		<key>BackgroundColor1</key>
		<string>252525</string>
		<key>BackgroundSelectedColor1</key>
		<string>303030</string>
		<key>BackgroundColor3</key>
		<string>303030</string>
		<key>CellSeparatorColor2</key>
		<string>363636</string>
		<key>BlueTextColor</key>
		<string>67778b</string>
		<key>BlueBorderColor</key>
		<string>4d5866</string>
		<key>Text1</key>
		<string>707070</string>
		<key>Text2</key>
		<string>707070</string>
		<key>Text3</key>
		<string>707070</string>
		<key>Text4</key>
		<string>935656</string>
		<key>Text5</key>
		<string>67778b</string>
		<key>Text6</key>
		<string>67778b</string>
		<key>Text7</key>
		<string>252525</string>
		<key>Text8</key>
		<string>ffffff</string>
		<key>Text9</key>
		<string>707070</string>
		<key>Text10</key>
		<string>707070</string>
		<key>Text11</key>
		<string>ffffff7f</string>
		<key>Text12</key>
		<string>cacaca</string>
		<key>Text13</key>
		<string>707070</string>
		<key>Text14</key>
		<string>707070</string>
		<key>Text15</key>
		<string>707070</string>
		<key>Text100</key>
		<string>707070</string>
		<key>Text200</key>
		<string>67778b</string>
		<key>Text300</key>
		<string>4d5866</string>
		<key>Text1Highlighted</key>
		<string>7070707f</string>
		<key>Text2Highlighted</key>
		<string>7070707f</string>
		<key>Text3Highlighted</key>
		<string>7070707f</string>
		<key>Text4Highlighted</key>
		<string>9356567f</string>
		<key>Text5Highlighted</key>
		<string>67778b7f</string>
		<key>Text6Highlighted</key>
		<string>67778b7f</string>
		<key>Text7Highlighted</key>
		<string>1b1b1b</string>
		<key>Text8Highlighted</key>
		<string>ffffff7f</string>
		<key>Text9Highlighted</key>
		<string>7070707f</string>
		<key>Text10Highlighted</key>
		<string>7070707f</string>
		<key>Text11Highlighted</key>
		<string>ffffff7f</string>
		<key>Text12Highlighted</key>
		<string>e8e8e8</string>
		<key>Text13Highlighted</key>
		<string>7070707f</string>
		<key>Text14Highlighted</key>
		<string>7070707f</string>
		<key>Text100Highlighted</key>
		<string>7070707f</string>
		<key>Text200Highlighted</key>
		<string>67778b7f</string>
		<key>Text1Selected</key>
		<string>935656</string>
		<key>Text2Selected</key>
		<string>67778b7f</string>
		<key>Text3Selected</key>
		<string>252525</string>
		<key>Text4Selected</key>
		<string>707070</string>
		<key>Text1Disabled</key>
		<string>505050</string>
		<key>Text2Disabled</key>
		<string>7070707f</string>
		<key>Text12Disabled</key>
		<string>cacacacc</string>
		<key>Line1</key>
		<string>464646</string>
		<key>Line2</key>
		<string>935656</string>
		<key>Line3</key>
		<string>67778b</string>
		<key>Line4</key>
		<string>9356567f</string>
		<key>Line5</key>
		<string>67778b7f</string>
		<key>Line6</key>
		<string>67778b7f</string>
		<key>Line7</key>
		<string>464646</string>
		<key>Line8</key>
		<string>ffffff</string>
		<key>Line9</key>
		<string>707070</string>
		<key>Line10</key>
		<string>464646</string>
		<key>Line11</key>
		<string>707070</string>
		<key>Line12</key>
		<string>cacaca</string>
		<key>Line1Highlighted</key>
		<string>4646467f</string>
		<key>Line2Highlighted</key>
		<string>9356567f</string>
		<key>Line3Highlighted</key>
		<string>67778b7f</string>
		<key>Line4Highlighted</key>
		<string>9356567f</string>
		<key>Line5Highlighted</key>
		<string>67778b7f</string>
		<key>Line6Highlighted</key>
		<string>67778b7f</string>
		<key>Line7Highlighted</key>
		<string>4646467f</string>
		<key>Line8Highlighted</key>
		<string>ffffff7f</string>
		<key>Line11Highlighted</key>
		<string>7070707f</string>
		<key>Line1Selected</key>
		<string>935656</string>
		<key>Line2Selected</key>
		<string>67778b7f</string>
		<key>Line3Selected</key>
		<string>9356567f</string>
		<key>Line4Selected</key>
		<string>67778b7f</string>
		<key>Line5Selected</key>
		<string>464646</string>
		<key>Line1Disabled</key>
		<string>707070</string>
		<key>Background1</key>
		<string>1b1b1b</string>
		<key>Background2</key>
		<string>1b1b1b</string>
		<key>Background3</key>
		<string>1b1b1b</string>
		<key>Background4</key>
		<string>252525</string>
		<key>Background5</key>
		<string>000000</string>
		<key>Background6</key>
		<string>707070</string>
		<key>Background7</key>
		<string>935656</string>
		<key>Background8</key>
		<string>67778b</string>
		<key>Background9</key>
		<string>0000004c</string>
		<key>Background10</key>
		<string>252525</string>
		<key>Background11</key>
		<string>000000e5</string>
		<key>Background13</key>
		<string>67778b7f</string>
		<key>Background14</key>
		<string>252525</string>
		<key>Background15</key>
		<string>0000007f</string>
		<key>Background16</key>
		<string>00000026</string>
		<key>Background17</key>
		<string>707070</string>
		<key>Background18</key>
		<string>252525</string>
		<key>Background20</key>
		<string>cacaca</string>
		<key>Background21</key>
		<string>252525</string>
		<key>Background22</key>
		<string>2f2c26</string>
		<key>Background100</key>
		<string>252525</string>
		<key>Background200</key>
		<string>0000007f</string>
		<key>Background300</key>
		<string>2b2b2b</string>
		<key>Background400</key>
		<string>b1b1b1</string>
		<key>Background500</key>
		<string>353535</string>
		<key>Background1Highlighted</key>
		<string>111111</string>
		<key>Background2Highlighted</key>
		<string>111111</string>
		<key>Background3Highlighted</key>
		<string>111111</string>
		<key>Background4Highlighted</key>
		<string>1b1b1b</string>
		<key>Background5Highlighted</key>
		<string>0000007f</string>
		<key>Background6Highlighted</key>
		<string>7070707f</string>
		<key>Background7Highlighted</key>
		<string>9356567f</string>
		<key>Background8Highlighted</key>
		<string>67778b7f</string>
		<key>Background9Highlighted</key>
		<string>0000004c</string>
		<key>Background10Highlighted</key>
		<string>1b1b1b</string>
		<key>Background11Highlighted</key>
		<string>000000e5</string>
		<key>Background14Highlighted</key>
		<string>252525</string>
		<key>Background15Highlighted</key>
		<string>363636</string>
		<key>Background16Highlighted</key>
		<string>0000007f</string>
		<key>Background21Highlighted</key>
		<string>1b1b1b</string>
		<key>Background1Selected</key>
		<string>935656</string>
		<key>Background2Selected</key>
		<string>67778b7f</string>
		<key>Background3Selected</key>
		<string>252525</string>
		<key>Background1Disabled</key>
		<string>707070</string>
		<key>Background7Disabled</key>
		<string>9356567f</string>
		<key>Background8Disabled</key>
		<string>67778b7f</string>
		<key>StarYellow</key>
		<string>927435</string>
		<key>SkinGreen</key>
		<string>56773d</string>
		<key>blue1</key>
		<string>081f33</string>
		<key>blue2</key>
		<string>299cff</string>
		<key>blue3</key>
		<string>3d6e99</string>
		<key>blue4</key>
		<string>e6f3ff</string>
		<key>grey1</key>
		<string>333333</string>
		<key>grey2</key>
		<string>666666</string>
		<key>grey3</key>
		<string>999999</string>
		<key>grey4</key>
		<string>bbbbbb</string>
		<key>grey5</key>
		<string>dddddd</string>
		<key>grey6</key>
		<string>e8e8e8</string>
		<key>grey7</key>
		<string>f5f5f5</string>
		<key>red1</key>
		<string>ff5869</string>
		<key>red2</key>
		<string>#ff5869</string>
		<key>green1</key>
		<string>0cce6b</string>
		<key>darkblue1</key>
		<string>0b1626</string>
	</dict>
	<key>images</key>
	<dict>
		<key>navigationBarBackgroundImage</key>
		<string>transparent_1px</string>
	</dict>
	<key>statusBarViewContrllerBased</key>
	<false/>
</dict>
</plist>
