<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppName</key>
	<string>f100</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>好多房</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>own</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snssdk1370</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxe96ffc249b33057d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sinaweibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sinaweibosso.com.ss.iphone.article.news</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>own</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fschema</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>renren</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rm2080814com.ss.iphone.article.News</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1107515843</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.taobao.taesdk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tbopen23178686</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ss.iphone.article.News</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tbopen23261993</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipayShare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ap2015090200249164</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kepler</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jdf9a9dd25be324eaa980edc530c7a3266</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>jdmobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jda40966f7a51ee8f7d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dingtalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dingoamfoom0wrwiyexx2z</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>hotsoon</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bdefc41a8703eae8ce</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>aweme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bd3ffc36cf30e111d0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mqqapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1107515843</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6.6.1.9</string>
	<key>CHANNEL_NAME</key>
	<string>local_test</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>9326896ae10cccb4663d7148a33d58b63a5d0f0e</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bfsports</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>qqmap</string>
		<string>comgooglemaps</string>
		<string>qielive</string>
		<string>mqqsecure</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqwpa</string>
		<string>hybrid</string>
		<string>tbopen</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>alipayshare</string>
		<string>alipaytlshare</string>
		<string>safepay</string>
		<string>mqqopensdkapiV2</string>
		<string>sinaweibosso.com.ss.iphone.article.news</string>
		<string>sinaweibosso.ss.essay.joke</string>
		<string>sinaweibosso</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>weibo</string>
		<string>QunarAlipay</string>
		<string>ctrip</string>
		<string>comtencentmt2</string>
		<string>taobao</string>
		<string>tmall</string>
		<string>openapp.jdmobile</string>
		<string>tctravel</string>
		<string>jdlogin</string>
		<string>youku</string>
		<string>letvsportslaunch</string>
		<string>dingtalk</string>
		<string>dingtalk-open</string>
		<string>imgotv</string>
		<string>kankanapp2</string>
		<string>snssdk1370</string>
		<string>changba</string>
		<string>cntvCBox</string>
		<string>suning</string>
		<string>vipshop</string>
		<string>lichinews</string>
		<string>ChinaBlueTV</string>
		<string>snssdk1165</string>
		<string>snssdk1128</string>
		<string>youku</string>
		<string>com.foundaoCNNews</string>
		<string>snssdk51</string>
		<string>snssdk32</string>
		<string>hotsoonsso</string>
		<string>awemesso</string>
		<string>snssdk147</string>
		<string>snssdk1370</string>
		<string>youmischeme</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>方便您使用拍照功能上传头像</string>
	<key>NSContactsUsageDescription</key>
	<string>允许访问可帮您快速找到通讯录好友</string>
	<key>NSLocationUsageDescription</key>
	<string>方便为您推荐本地房源</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>好多房将持续定位</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>方便您使用发语音功能</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>要允许好多房访问您设备上的照片、媒体内容和文件吗？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>要允许好多房访问您设备上的照片、媒体内容和文件吗？</string>
	<key>SSAppID</key>
	<string>1370</string>
	<key>SSMID</key>
	<string>141</string>
	<key>SSSupportNewVersionForceUpgrade</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>iconfont_new.ttf</string>
		<string>new_icon.ttf</string>
		<string>wd_iconfont.ttf</string>
		<string>ChatroomIconFont.ttf</string>
		<string>290-cai978.ttf</string>
		<string>iconfont.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
