<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>文章information_v15</key>
	<dict>
		<key>path</key>
		<string>/2/article/information/v15</string>
		<key>params</key>
		<array/>
		<key>file</key>
		<string>Stub_Article_Information.txt</string>
	</dict>
</dict>
</plist>
