<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All</key>
	<dict>
		<key>进度控制功能</key>
		<dict>
			<key>Key</key>
			<string>2</string>
			<key>Description</key>
			<string></string>
			<key>AvailableOnInit</key>
			<true/>
			<key>Controls</key>
			<dict>
				<key>当前时间/总时长 Label</key>
				<dict>
					<key>Tag</key>
					<real>7775</real>
					<key>Type</key>
					<string>label</string>
					<key>AddTo</key>
					<string>bottom_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_TimeCurrentAndTotalLabel</string>
				</dict>
				<key>当前播放时间Label</key>
				<dict>
					<key>Tag</key>
					<real>7776</real>
					<key>Type</key>
					<string>label</string>
					<key>AddTo</key>
					<string>bottom_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_TimeCurrentLabel</string>
					<key>FontColor</key>
					<string>0xffffff</string>
					<key>FontSize</key>
					<integer>12</integer>
					<key>NumberOfLines</key>
					<integer>1</integer>
					<key>FontName</key>
					<string></string>
					<key>Alignment</key>
					<string>right</string>
					<key>ShadowOffset-Width</key>
					<integer>0</integer>
					<key>ShadowOffset-Height</key>
					<integer>0</integer>
					<key>ShadowOpacity</key>
					<integer>1</integer>
					<key>ShadowColor</key>
					<string>0xffffff8A</string>
					<key>ShadowRadius</key>
					<integer>1</integer>
				</dict>
				<key>视频总时长 Label</key>
				<dict>
					<key>Tag</key>
					<real>7777</real>
					<key>Type</key>
					<string>label</string>
					<key>AddTo</key>
					<string>bottom_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_TimeTotalLabel</string>
					<key>FontColor</key>
					<string>0xffffff</string>
					<key>FontSize</key>
					<integer>12</integer>
					<key>FontName</key>
					<string></string>
					<key>Alignment</key>
					<string>left</string>
					<key>NumberOfLines</key>
					<integer>1</integer>
					<key>ShadowOffset-Width</key>
					<integer>0</integer>
					<key>ShadowOffset-Height</key>
					<integer>0</integer>
					<key>ShadowOpacity</key>
					<integer>1</integer>
					<key>ShadowColor</key>
					<string>0xffffff8A</string>
					<key>ShadowRadius</key>
					<integer>1</integer>
				</dict>
				<key>进度条Slider</key>
				<dict>
					<key>Tag</key>
					<real>7778</real>
					<key>Type</key>
					<string>slider</string>
					<key>AddTo</key>
					<string>bottom_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_Slider；</string>
					<key>SliderIndicatorImageName</key>
					<string></string>
					<key>SliderIndicatorBackgroundImageName</key>
					<string></string>
					<key>SliderIndicatorColor</key>
					<string>0xFFFFFF</string>
					<key>SliderIndicatorBackgroundColor</key>
					<string>0x0099FF</string>
					<key>SliderBarColor</key>
					<string>0xFFFFFF33</string>
					<key>CachedProgressColor</key>
					<string>0xFF66FF7F</string>
					<key>WatchedProgressColor</key>
					<string>0x188FFE</string>
				</dict>
				<key>进度条抬头 SliderHUD</key>
				<dict>
					<key>Tag</key>
					<string>77779</string>
					<key>Type</key>
					<string>slider_hud</string>
					<key>AddTo</key>
					<string>overlay_control</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_SeekHUD，进度条抬头显示</string>
					<key>SliderBarColor</key>
					<string>0xFFFFFF7F</string>
					<key>WatchedProgressColor</key>
					<string>0xFFFFFF</string>
					<key>FontColorOfCurrentTime</key>
					<string>0xFFFFFF</string>
					<key>FontColorOfTotalTime</key>
					<string>0xFFFFFF7F</string>
					<key>FontSize</key>
					<integer>20</integer>
					<key>FontName</key>
					<string></string>
				</dict>
				<key>沉浸态下进度条展示</key>
				<dict>
					<key>Tag</key>
					<string>7779</string>
					<key>Type</key>
					<string>progress_view</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_ImmersiveSlider</string>
					<key>AddTo</key>
					<string>none</string>
					<key>SliderBarColor</key>
					<string>0x333333</string>
					<key>WatchedProgressColor</key>
					<string>0x188FFE</string>
					<key>CachedProgressColor</key>
					<string>0xFF66FF7F</string>
				</dict>
			</dict>
		</dict>
		<key>旋转切换全屏</key>
		<dict>
			<key>Key</key>
			<integer>32</integer>
			<key>AvailableOnInit</key>
			<true/>
			<key>Controls</key>
			<dict>
				<key>全屏切换按钮</key>
				<dict>
					<key>Tag</key>
					<real>7774</real>
					<key>Type</key>
					<string>toggled_button</string>
					<key>AddTo</key>
					<string>bottom_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_FullToggledButton：点击全屏或者回到非全屏的控件</string>
					<key>ButtonImage</key>
					<dict>
						<key>Identifier</key>
						<string>tofull</string>
						<key>ImageName</key>
						<string>enlarge_video_default_player</string>
						<key>ToggledImageName</key>
						<string>shrink_video_default_player</string>
					</dict>
					<key>ButtonAction</key>
					<dict>
						<key>Action</key>
						<string>TTVPlayerActionType_RotateToLandscapeFullScreen</string>
						<key>ToggledAction</key>
						<string>TTVPlayerActionType_RotateToInlineScreen</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>网络变化提示功能</key>
		<dict>
			<key>Key</key>
			<integer>512</integer>
			<key>Description</key>
			<string>TTVPlayerPartKey_NetworkMonitor：弱网变化</string>
			<key>AvailableOnInit</key>
			<true/>
		</dict>
		<key>播放器错误提示功能</key>
		<dict>
			<key>Key</key>
			<integer>256</integer>
			<key>Description</key>
			<string>播放错误提示，这个提示会阻塞播放</string>
			<key>AvailableOnInit</key>
			<true/>
		</dict>
		<key>loading指示功能</key>
		<dict>
			<key>Key</key>
			<integer>128</integer>
			<key>Description</key>
			<string>TTVLoadingPart；控制 loading 相关;</string>
			<key>AvailableOnInit</key>
			<true/>
		</dict>
		<key>手势</key>
		<dict>
			<key>Key</key>
			<integer>1024</integer>
			<key>AvailableOnInit</key>
			<true/>
			<key>SingleTapEnabled</key>
			<true/>
			<key>DoubleTapEnabled</key>
			<true/>
			<key>PanEnabled</key>
			<true/>
			<key>PanSupportDirection</key>
			<integer>2</integer>
		</dict>
		<key>播放控制功能</key>
		<dict>
			<key>Key</key>
			<integer>1</integer>
			<key>Description</key>
			<string>TTVPlayPart；控制播放相关的功能与 UI 的状态; AvailableOnInit 指的是初始化出来，是否需要这个 part；后续再需要可以动态添加</string>
			<key>AvailableOnInit</key>
			<true/>
			<key>Controls</key>
			<dict>
				<key>中间-播放Button</key>
				<dict>
					<key>Tag</key>
					<real>7771</real>
					<key>Type</key>
					<string>toggled_button</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_PlayCenterToggledButton；在屏幕中间的播放控件</string>
					<key>TintColor</key>
					<string>0xcccccc</string>
					<key>ButtonImage</key>
					<dict>
						<key>Identifier</key>
						<string>play</string>
						<key>ImageName</key>
						<string>player_play_default_player</string>
						<key>ToggledImageName</key>
						<string>player_pause_default_player</string>
					</dict>
				</dict>
				<key>底部工具栏-播放Button</key>
				<dict>
					<key>Tag</key>
					<real>7772</real>
					<key>Type</key>
					<string>toggled_button</string>
					<key>AddTo</key>
					<string>bottom_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_PlayBottomToggledButton；在屏幕底部的播放控件</string>
					<key>TintColor</key>
					<string>0xffffff</string>
					<key>ButtonImage</key>
					<dict>
						<key>Identifier</key>
						<string>play</string>
						<key>ImageName</key>
						<string>player_play_default_player</string>
						<key>ToggledImageName</key>
						<string>player_pause_default_player</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>Top-Bottom-Bar</key>
		<dict>
			<key>Key</key>
			<integer>8</integer>
			<key>AvailableOnInit</key>
			<true/>
			<key>Controls</key>
			<dict>
				<key>底部工具栏 Toolbar </key>
				<dict>
					<key>Tag</key>
					<real>7783</real>
					<key>Type</key>
					<string>bottom_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_BottomBar</string>
					<key>BackgroundImage</key>
					<string>bottombar_background_default_player</string>
					<key>BackgroundColor</key>
					<string></string>
				</dict>
				<key>顶部导航栏Navbar</key>
				<dict>
					<key>Tag</key>
					<integer>7782</integer>
					<key>Type</key>
					<string>top_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_TopBar</string>
					<key>BackgroundImage</key>
					<string>topbar_background_default_player</string>
					<key>BackgroundColor</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Inline</key>
	<dict>
		<key>标题功能</key>
		<dict>
			<key>Key</key>
			<integer>16</integer>
			<key>AvailableOnInit</key>
			<true/>
			<key>Controls</key>
			<dict>
				<key>导航栏标题Label</key>
				<dict>
					<key>Tag</key>
					<integer>7780</integer>
					<key>Type</key>
					<string>label</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_Title</string>
					<key>AddTo</key>
					<string>top_bar</string>
					<key>NumberOfLines</key>
					<integer>2</integer>
					<key>FontColor</key>
					<string>0xFFFFFF</string>
					<key>FontSize</key>
					<integer>16</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Fullscreen</key>
	<dict>
		<key>标题功能</key>
		<dict>
			<key>Key</key>
			<integer>16</integer>
			<key>AvailableOnInit</key>
			<true/>
			<key>Controls</key>
			<dict>
				<key>导航栏标题Label</key>
				<dict>
					<key>Tag</key>
					<integer>7780</integer>
					<key>Type</key>
					<string>label</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_TitleLabel</string>
					<key>AddTo</key>
					<string>top_bar</string>
					<key>NumberOfLines</key>
					<integer>1</integer>
					<key>FontColor</key>
					<string>0xFFFFFF</string>
					<key>FontSize</key>
					<integer>16</integer>
				</dict>
			</dict>
		</dict>
		<key>锁屏控制</key>
		<dict>
			<key>Key</key>
			<integer>64</integer>
			<key>AvailableOnInit</key>
			<true/>
			<key>Controls</key>
			<dict>
				<key>锁屏按钮</key>
				<dict>
					<key>Tag</key>
					<real>7784</real>
					<key>Type</key>
					<string>toggled_button</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_LockToggledButton</string>
					<key>ButtonImage</key>
					<dict>
						<key>Identifier</key>
						<string>unlock</string>
						<key>ImageName</key>
						<string>lock_on_default_player</string>
						<key>ToggledImageName</key>
						<string>lock_off_default_player</string>
					</dict>
					<key>ButtonAction</key>
					<dict>
						<key>Action</key>
						<string>TTVPlayerActionType_Lock</string>
						<key>ToggledAction</key>
						<string>TTVPlayerActionType_UnLock</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>返回功能</key>
		<dict>
			<key>Key</key>
			<integer>4</integer>
			<key>AvailableOnInit</key>
			<true/>
			<key>Controls</key>
			<dict>
				<key>导航栏返回Button</key>
				<dict>
					<key>Tag</key>
					<real>7781</real>
					<key>AddTo</key>
					<string>top_bar</string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_BackToggledButton</string>
					<key>Type</key>
					<string>button</string>
					<key>Action</key>
					<string>TTVPlayerActionType_RotateToInlineScreen</string>
					<key>ImageName</key>
					<string>player_back_default_player</string>
				</dict>
			</dict>
		</dict>
		<key>倍速播放</key>
		<dict>
			<key>Key</key>
			<real>2048</real>
			<key>AvailableOnInit</key>
			<true/>
			<key>Description</key>
			<string>TTVPlayerPartKey_Speed</string>
			<key>Controls</key>
			<dict>
				<key>倍速播放 button</key>
				<dict>
					<key>Tag</key>
					<real>7785</real>
					<key>AddTo</key>
					<string></string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_SpeedChangeButton</string>
					<key>Type</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>清晰度切换功能</key>
		<dict>
			<key>Key</key>
			<integer>4096</integer>
			<key>AvailableOnInit</key>
			<false/>
			<key>Description</key>
			<string>TTVPlayerPartKey_Resolution</string>
			<key>Controls</key>
			<dict>
				<key>清晰度切换 button</key>
				<dict>
					<key>Tag</key>
					<integer>-1</integer>
					<key>AddTo</key>
					<string></string>
					<key>Description</key>
					<string>TTVPlayerPartControlKey_SpeedChangeButton</string>
					<key>Type</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
