<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReadMe</key>
	<string>配置手册：https://docs.bytedance.net/doc/doccnG2WtLMqCbYPyNywKV</string>
	<key>手势NewTODO</key>
	<dict>
		<key>Key</key>
		<integer>1024</integer>
		<key>AvailableOnInit</key>
		<false/>
		<key>SingleTap</key>
		<dict>
			<key>Action</key>
			<string></string>
		</dict>
		<key>DoubleTap</key>
		<dict>
			<key>Action</key>
			<string></string>
		</dict>
		<key>Pan</key>
		<dict>
			<key>HorizontalPan</key>
			<dict>
				<key>Action</key>
				<string></string>
			</dict>
			<key>VerticalPan</key>
			<dict>
				<key>LeftAction</key>
				<string></string>
				<key>RightAction</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>全屏控制功能TODO</key>
	<dict>
		<key>Key</key>
		<integer>32</integer>
		<key>ClassString</key>
		<string>TTVFullScreenPart</string>
		<key>Description</key>
		<string>若不支持任何形式的旋转以及全屏，可以整体移除掉这个配置</string>
		<key>AvailableOnInit</key>
		<true/>
		<key>Custom</key>
		<dict>
			<key>SuppporFullPortrait</key>
			<false/>
			<key>SupportFullLandScape</key>
			<false/>
		</dict>
		<key>Controls</key>
		<dict>
			<key>全屏按钮</key>
			<dict>
				<key>Tag</key>
				<real>7774</real>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_FullToggledButton：点击全屏或者回到非全屏的控件</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>EnlargeImageOnNormal</key>
					<string></string>
					<key>ShrinkImageOnFull</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Gesture</key>
	<dict>
		<key>Description</key>
		<string>控制手势是否支持以及支持哪些;PanSupportDirection: see TTVPlayerPanGestureDirection</string>
		<key>Custom</key>
		<dict>
			<key>NormalScreen</key>
			<dict>
				<key>SingleTapEnabled</key>
				<true/>
				<key>DoubleTapEnabled</key>
				<true/>
				<key>PanEnabled</key>
				<true/>
				<key>PanSupportDirection</key>
				<integer>2</integer>
			</dict>
			<key>FullScreen</key>
			<dict>
				<key>SingleTapEnabled</key>
				<true/>
				<key>DoubleTapEnabled</key>
				<true/>
				<key>PanEnabled</key>
				<true/>
				<key>PanSupportDirection</key>
				<integer>2</integer>
			</dict>
		</dict>
	</dict>
	<key>顶部导航栏功能</key>
	<dict>
		<key>Key</key>
		<integer>8</integer>
		<key>ClassString</key>
		<string>TTVNavigationPart</string>
		<key>AvailableOnInit</key>
		<true/>
		<key>Description</key>
		<string>主要处理标题和返回功能</string>
		<key>Controls</key>
		<dict>
			<key>顶部导航栏Navbar</key>
			<dict>
				<key>Tag</key>
				<integer>7782</integer>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_TopBar：顶部导航栏；如果自定义了 title 和 back 的话那么默认设置失效，默认设置只设置在默认的view 上</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>BackgroundImage</key>
					<string>dl_class_nav_background_top</string>
					<key>BackgroundColor</key>
					<string></string>
					<key>VerticalAlignOnNoraml</key>
					<string>1</string>
					<key>VerticalAlignOnFull</key>
					<string>1</string>
					<key>ShowAnimationEnabled</key>
					<true/>
				</dict>
			</dict>
			<key>导航栏标题Label</key>
			<dict>
				<key>Tag</key>
				<integer>7780</integer>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_TitleLabel：标题功能</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>NumberOfLinesOnNormal</key>
					<integer>1</integer>
					<key>NumberOfLinesOnFull</key>
					<integer>1</integer>
					<key>FontColor</key>
					<string>0xFFFFFF</string>
					<key>FontSizeOnNormal</key>
					<integer>16</integer>
					<key>FontSizeOnFull</key>
					<integer>16</integer>
					<key>FontShadowEnable</key>
					<false/>
				</dict>
			</dict>
			<key>导航栏返回Button</key>
			<dict>
				<key>Tag</key>
				<real>7781</real>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_BackToggledButton：返回功能</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>ImageOnNormal</key>
					<string></string>
					<key>ImageOnFull</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>底部工具栏容器功能</key>
	<dict>
		<key>Key</key>
		<integer>16</integer>
		<key>ClassString</key>
		<string>TTVBottomToolBarPart</string>
		<key>AvailableOnInit</key>
		<true/>
		<key>Description</key>
		<string>容器功能</string>
		<key>Controls</key>
		<dict>
			<key>底部工具栏 Toolbar </key>
			<dict>
				<key>Tag</key>
				<real>7783</real>
				<key>Description</key>
				<string></string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>BackgroundImage</key>
					<string>dl_class_nav_background_bottom</string>
					<key>BackgroundColor</key>
					<string></string>
					<key>ShowAnimationEnanbled</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>播放控制功能</key>
	<dict>
		<key>Key</key>
		<integer>1</integer>
		<key>ClassString</key>
		<string>TTVPlayPart</string>
		<key>Description</key>
		<string>TTVPlayPart；控制播放相关的功能与 UI 的状态; AvailableOnInit 指的是初始化出来，是否需要这个 part；后续再需要可以动态添加</string>
		<key>AvailableOnInit</key>
		<true/>
		<key>Controls</key>
		<dict>
			<key>中间 播放Button</key>
			<dict>
				<key>Tag</key>
				<integer>7771</integer>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_PlayCenterToggledButton；在屏幕中间的播放控件</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>PlayImageOnNormal</key>
					<string></string>
					<key>PlayImageOnFull</key>
					<string></string>
					<key>PauseImageOnNormal</key>
					<string></string>
					<key>PauseImageOnFull</key>
					<string></string>
				</dict>
			</dict>
			<key>底部工具栏 播放Button</key>
			<dict>
				<key>Tag</key>
				<real>7772</real>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_PlayBottomToggledButton；在屏幕底部的播放控件</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>PlayImageOnNormal</key>
					<string></string>
					<key>PlayImageOnFull</key>
					<string></string>
					<key>PauseImageOnNormal</key>
					<string></string>
					<key>PauseImageOnFull</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>进度控制功能</key>
	<dict>
		<key>Key</key>
		<string>2</string>
		<key>ClassString</key>
		<string>TTVSeekPart</string>
		<key>Description</key>
		<string></string>
		<key>AvailableOnInit</key>
		<true/>
		<key>Controls</key>
		<dict>
			<key>当前播放时间Label</key>
			<dict>
				<key>Tag</key>
				<real>7776</real>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_TimeCurrentLabel</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>FontColor</key>
					<string></string>
					<key>FontSizeOnNormal</key>
					<integer>0</integer>
					<key>FontSizeOnFull</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>视频总时长 Label</key>
			<dict>
				<key>Tag</key>
				<real>7777</real>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_TimeTotalLabel</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
			</dict>
			<key>当前时间/总时长 Label</key>
			<dict>
				<key>Tag</key>
				<real>7775</real>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_TimeCurrentAndTotal</string>
				<key>ShowOnNormal</key>
				<false/>
				<key>ShowOnFull</key>
				<false/>
			</dict>
			<key>进度条Slider</key>
			<dict>
				<key>Tag</key>
				<real>7778</real>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_Slider；</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>SliderIndicatorImageName</key>
					<string></string>
					<key>SliderIndicatorBackgroundImageName</key>
					<string></string>
					<key>SliderIndicatorColor</key>
					<string></string>
					<key>SliderIndicatorBackgroundColor</key>
					<string></string>
					<key>SliderBarColor</key>
					<string></string>
					<key>CachedProgressColor</key>
					<string></string>
					<key>WatchedProgressColor</key>
					<string></string>
				</dict>
			</dict>
			<key>进度条抬头 SliderHUD</key>
			<dict>
				<key>Tag</key>
				<string>77779</string>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_SeekHUD，进度条抬头显示</string>
				<key>ShowOnNormal</key>
				<string>YES</string>
				<key>ShowOnFull</key>
				<string>YES</string>
				<key>Custom</key>
				<dict>
					<key>SliderBarColor</key>
					<string></string>
					<key>WatchedProgressColor</key>
					<string></string>
					<key>FontColorOfCurrentTime</key>
					<string></string>
					<key>FontColorOfTotalTime</key>
					<string></string>
					<key>FontSizeOnNormal</key>
					<integer>0</integer>
					<key>FontSizeOnFull</key>
					<integer>0</integer>
					<key>BackgroundColor</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>loading指示功能</key>
	<dict>
		<key>Key</key>
		<integer>128</integer>
		<key>ClassString</key>
		<string>TTVLoadingPart</string>
		<key>Description</key>
		<string>TTVLoadingPart；控制 loading 相关;</string>
		<key>AvailableOnInit</key>
		<true/>
		<key>Controls</key>
		<dict>
			<key>LoadingView</key>
			<dict>
				<key>Tag</key>
				<integer>77701</integer>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_LoadingView：如果要自定义 loadingView，customClass 需要遵守 TTVPlayerLoadingViewProtocol；tip 相关的 view 都不可以从配置文件配置 full 和 normal</string>
				<key>Custom</key>
				<dict>
					<key>CustomClass</key>
					<string></string>
					<key>LoadingText</key>
					<string>加载中</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>网络变化提示功能 </key>
	<dict>
		<key>Key</key>
		<integer>64</integer>
		<key>ClassString</key>
		<string>TTVNetworkMonitorSimplePart</string>
		<key>Description</key>
		<string>TTVPlayerPartKey_NetworkMonitor：弱网变化</string>
		<key>AvailableOnInit</key>
		<true/>
		<key>Controls</key>
		<dict>
			<key>蜂窝网络提示 view</key>
			<dict>
				<key>Tag</key>
				<integer>77704</integer>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_FlowTipView；如果需要自定义这个控件，则需要实现 TTVFlowTipViewProtocol 协议</string>
				<key>ShowOnNormal</key>
				<true/>
				<key>ShowOnFull</key>
				<true/>
				<key>Custom</key>
				<dict>
					<key>CustomClass</key>
					<string></string>
					<key>CellularNetworkText</key>
					<string>正在使用非WiFi网络\n「继续播放」将消耗%.2fMB流量</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>播放器结束提示功能</key>
	<dict>
		<key>Key</key>
		<integer>32</integer>
		<key>ClassString</key>
		<string>TTVPlayerFinishPart</string>
		<key>Description</key>
		<string>播放错误提示，这个提示会阻塞播放</string>
		<key>AvailableOnInit</key>
		<true/>
		<key>Controls</key>
		<dict>
			<key>播放出错 errorView</key>
			<dict>
				<key>Tag</key>
				<integer>77702</integer>
				<key>Description</key>
				<string>TTVPlayerPartControlKey_PlayerErrorStayView：一直展示; CustomClass必须遵守协议; 自定义的返回按钮和 retrybutton 可以通过 写代码来自定义</string>
				<key>Custom</key>
				<dict>
					<key>CustomClass</key>
					<string></string>
					<key>ErrorText</key>
					<string>加载失败啦</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
