<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>event</key>
			<string>stay_category</string>
			<key>event_id</key>
			<string>abc123</string>
			<key>params</key>
			<array>
				<dict>
					<key>error_level</key>
					<string>critical</string>
					<key>range</key>
					<array>
						<string>rent_list</string>
						<string>old_list</string>
						<string>new_list</string>
					</array>
					<key>param_name</key>
					<string>origin_from</string>
					<key>type</key>
					<string>mandatory</string>
				</dict>
				<dict>
					<key>error_level</key>
					<string>critical</string>
					<key>range</key>
					<array>
						<string>maintab</string>
					</array>
					<key>param_name</key>
					<string>enter_from</string>
					<key>type</key>
					<string>mandatory</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>enter_category</string>
			<key>event_id</key>
			<string>abc123</string>
			<key>params</key>
			<array>
				<dict>
					<key>error_level</key>
					<string>critical</string>
					<key>range</key>
					<array>
						<string>rent_list</string>
						<string>old_list</string>
						<string>new_list</string>
					</array>
					<key>param_name</key>
					<string>origin_from</string>
					<key>type</key>
					<string>mandatory</string>
				</dict>
				<dict>
					<key>error_level</key>
					<string>critical</string>
					<key>range</key>
					<array>
						<string>maintab</string>
					</array>
					<key>param_name</key>
					<string>enter_from</string>
					<key>type</key>
					<string>mandatory</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
